In [7]:
import pandas as pd
import numpy as np
import ecopy as ep
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
OTU_matrix = pd.read_csv("taxonomic.bacteria.csv", index_col=0)
meta = pd.read_table("Metadata_with_Host.tsv", index_col=0)

In [21]:
#Transform the data with hellinger
OTU_hell = ep.transform(OTU_matrix, method="hellinger")

In [24]:
OTU_hell.head()

,0319-6G20,0319-6M6,11-24,1174-901-12,288-2,480-2,A0839,ABS-19,Acetobacteraceae,Acidimicrobiaceae,...,unidentified,Unknown Family,vadinBB60,Veillonellaceae,Vibrionaceae,Xanthobacteraceae,Xanthomonadaceae,Xanthomonadales Incertae Sedis,Xiphinematobacteraceae,YNPFFP1
RM1,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.350823,0.0,...,0.193925,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
RM10,0.0,0.0,0.0,0.228173,0.0,0.0,0.0,0.0,0.149218,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.220139,0.0,0.0,0.0
RM100,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.475249,0.0,...,0.229317,0.0,0.0,0.0,0.0,0.0,0.267492,0.0,0.0,0.0
RM101,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.582947,0.0,0.0,0.0,0.0,0.0,0.462910,0.0,0.0,0.0
RM102,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.109435,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [27]:
shannon_H = pd.DataFrame(ep.diversity(OTU_hell, method='shannon', breakNA=True, num_equiv=True))

In [28]:
shannon_H.columns = ["Shannon_Index"]

In [29]:
shannon_H.head()

   Shannon_Index
0       4.613770
1      18.436255
2       8.785382
3       6.291030
4       8.277689